<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jnu.action3">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:name="org.litepal.LitePalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="jnu.action3.UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="jnu.action3.CreateUserActivity">
        </activity>
        <activity android:name="jnu.action3.ActionListActivity">
        </activity>
        <activity
                android:name="jnu.action3.ActionCollectActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="jnu.action3.DataPlotActivity"
                android:screenOrientation="landscape">
        </activity>

        <service
                android:name="jnu.action3.ActionCollectService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name="jnu.action3.DataListActivity">
        </activity>
    </application>

</manifest>